/* Add CSS styling here */
/*CSS Reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    max-width:100%;
    border:0; 
}
header{
    border: 3px solid black;
}
h1{
    text-align: center;
    font-size: 300%;
}
nav{
    display: flex;
    justify-content: center;
}
nav a{
    text-align: center;
    width: 10%;
    border: 2px solid black;
    padding:5px;
    display:inline-block;
}

h2{
    text-align: center;
    font-size:200%;
}
.description{
    text-align: center;
    font-size: 125%;
}
.firstImage{
    width:150%
}
.images {
    display: flex;

}
.images img {
    width: 20%;
    height: 200px;
    object-fit: cover;
}
p{
    text-align: center;
}
.bottom{
    text-align: right;
}
footer{
    text-align: center;
    background-color: lightgray;
    border: 1px solid black;
    padding:5%;
}
button{
    width:50%;
    font-size: 150%;
}